<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            {{#each articles}}
                    <article>
                <header>
                    <h2>{{title}}</h2>
                </header>
                <p align="center"><img src="{{image}}" width="500px" height="250px" style="border-radius: 50%" /></p>
                <p>
                    {{content}}
                </p>

                <small class="author">
                    {{this.User.fullName}}
                </small>

                <footer>
                    <div class="pull-right">
                        <a class="btn btn-success btn-xs" href="/article/edit/{{this.id}}">Edit</a>
                        <a class="btn btn-danger btn-xs" href="/article/delete/{{this.id}}">Delete</a>
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>
                </footer>
            </article>
                {{/each}}
        </div>
    </div>
</div>
